<div class="container">

  <div class="row">

    <div class="col-md-12">

      <div class="hero-container">

        <div class="hero-content">

          <h1 class="text-center">
            Hi. I'm Lily.
          </h1>

          {% if site.description != '' or site.enable_contact == true %}
          <p class="text-center">
              I'm meandering through a Ph.D. in molecular dynamics at the Australian National University. 
              I'm interested in improving tools in molecular dynamics and in chemistry education.
            </p>
            <p class="text-center">

              You may know me as <i>lilyminium</i>.

            {% if site.enable_contact == true %}
            {% include contact.html %}
            {% include contact-modal.html %}
            {% endif %}
          </p>
          {% endif %}

          {% include hero_buttons.html %}

        </div>

      </div>

      <a class="section-jump text-center" href="#portfolio">
        <i class="fa fa-angle-down fa-3x"></i>
      </a>

    </div>

  </div>

</div>